<html>

<head>
	<title>Drapache Example Blog</title>

	<link href="static/css/home.css" rel="stylesheet">
	
	
</head>

<body>
	
<div class="container">
	
	<div id="info">
		
		<div class="image_wrapper">
		<img src="{{ info.image }}"/>
		</div>
		
		<h3>{{info.name}}</h3>
		<a href="mailto:{{info.email}}"><h5>{{info.email}}</h5></a>
		
	</div>
	
	<div id="posts">
		
		{% for post in posts %}
		<div class="post">
		{{ post.html|safe }}
		</div>
		{% endfor %}
	</div>
</div>

<body>
			