body {
	width:100%;
	font-family:sans-serif;
	padding:0px;
	margin:0px;
}


h1,h3 {
	font-family:Georgia,serif;
}


a {
	color:inherit;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}


.invisible {
	display:none;
}

div.loader {
	margin-bottom:10px;
}

div.container {
	position:relative;
	width:80%;
	margin-top:50px;
	margin-left:5%;
	margin-right:15%;
}


div#admin {
	position:absolute;
	right:20px;
	top:0px;
	height:20px;
	width:40px;
	border-color:black;
	border-style:solid;
	border-width:1px;
	background-color:white;
	font-family:sans-serif;
	text-align:center;
}

div#admin:hover {
	background-color:black;
	color:white;
	cursor:pointer;
}

div#info {
	float:left;
	width:18%;
	height:80%;
	border-right-style:solid;
	border-right-width:2px;
	border-right-color:#333;
}


div #posts {
	float:right;
	width:80%;
}

div.post {
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#333;
}

span.open_post:hover {
	text-decoration:underline;
	cursor:pointer;
}